@charset "utf-8";
:root {
    --primary: #7A4E9A;
    --text1st: #E4E1F2;
    --text2nd: #908e99;
    --text3rd: #cbbefc;
}
/* レイアウトのためのCSS */

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.85;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

/* font-family */

#header,
.count-size,
.heading01,
h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

/* header */

#header {
    padding: 20px 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--text1st);
}

#header h1 a {
    width: 130px;
}

#header h1 img {
    width: 130px;
}

#header .header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* container */

#container {
    padding: 0 70px 0 130px;
}

/*---------------------------------------

この辺から本編

----------------------------------------*/

.full-page {
    margin-top: 17px;
    width: 95%;
    height: 790px;
    background-color: var(--text1st);
    position: relative;
    left: 25px;
    border-radius: 50px;
    display: flex;
}

/*-------------------------

info

--------------------------*/

.info {
    width: 71%;
    height: inherit;
    border-radius: inherit;
    background-color: #F4F5FC;
    padding: 45px;
}

.info-title {
    font-size: 22px;
    font-weight: 900;
    color: var(--primary);
    padding-bottom: 4px;
}

.info-subtitle {
    font-size: 16px;
    color: var(--text2nd);
    font-weight: bold;
}

hr {
    border: solid 1px var(--text2nd);
    margin-bottom: 30px;
}

/*----------------------------

github

-----------------------------*/

.github {
    background-color: #E9ECF6;
    width: 100%;
    height: 400px;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 30px 45px;
}

/*-------------------------------

message

--------------------------------*/

.lower {
    width: 100%;
    height: 270px;
    border-radius: inherit;
    display: flex;
}

.message {
    width: 23%;
    background-color: #E9ECF6;
    border-radius: inherit;
    height: inherit;
    margin-right: 30px;
    text-align: center;
}

.message img {
    width: 35%;
    margin-top: 100px;
}

.message p {
    font-weight: bold;
    color: var(--primary);
}

/*---------------------------------

Qiita

----------------------------------*/

.qiita {
    width: 100%;
    background-color: #E9ECF6;
    border-radius: inherit;
    height: inherit;
    padding: 20px 45px;
}

.github-top,
.qiita-top {
    display: flex;
    gap: 30px;
    font-size: 22px;
    font-weight: 900;
    color: var(--primary);
    padding-bottom: 4px;
}

.github-top li:first-child,
.qiita-top li:first-child {
    margin-right: auto;
}

.github-top span,
.qiita-top span {
    font-size: 16px;
    color: var(--text2nd);
}

/*---------------------------------

about

----------------------------------*/

/* profile */

.about {
    width: 29%;
    height: inherit;
    padding: 20px;
}

.profile-top {
    display: flex;
    margin: 15px;
}

.profile-top img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.profile-content {
    margin: 0 auto;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.profile-item {
    display: flex;
}

.profile-item li:first-child {
    width: 60%;
}

.profile-item li {
    color: var(--text2nd);
    font-size: 19px;
}
.profile-id {
    text-align: center;
}

.profile-id p {
    margin: 0 auto;
}

.profile-bio {
    width: 90%;
    text-align: center;
    margin: 5px auto;
}

/* skillScore */

.about-title {
    font-size: 22px;
    font-weight: 900;
    color: var(--primary);
    border-bottom: solid 1px var(--primary);
    padding-bottom: 4px;
    vertical-align: bottom;
}

.about-title span {
    font-size: 16px;
    color: var(--text2nd);
}

.skillscore-chart {
    height: 170px;
}

.skillscore .chart-area {
    display: flex;
    font-weight: bold;
    font-size: 32px;
    color: var(--primary);
    margin: 20px 0;
    margin-left: 10px;
}

.skillscore .chart-area p {
    margin: auto 0;
}

.skillscore .chart-area span {
    color: var(--text2nd);
    font-size: 20px;
}

/* language */
.chart-area {
    display: flex;
    margin-top: 40px;
}

.chart-area img {
    width: 50%;
}

.percentage {
    color:#777680;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}

.percentage p {
    line-height: 40px;
}

.percentage p:first-child span {
    color: var(--primary);
}
.percentage p:nth-child(2) span {
    color: #D4A9F3;
}
.percentage p:nth-child(3) span {
    color: #D8C7F8;
}

/*--------------------------------------

こっからregisterページだよーーー

---------------------------------*/

.register-wrap {
    text-align: center;
    font-size: 24px;
    margin: auto;
    padding-top: 150px;
    width: fit-content;
}

.row {
    display: flex;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.register-wrap label,
.register-wrap p {
    font-weight: bold;
}

.register-wrap input {
    border: none;
    border-radius: 40px;
    box-shadow: none;
    padding: 2px 8px;
    background-color: var(--text1st);
    padding-left: 15px;
}

.register-wrap input:focus {
    outline: none;
}

select {
    background-color: var(--text1st);
    border-radius: 40px;
    -webkit-appearance: none;
    appearance: none;
    /* デフォルトのスタイルを無効 */
}

select::-ms-expand {
    display: none;
    /* デフォルトのスタイルを無効(IE用) */
}

select {
    background-image: url("../img/arrow-bottom.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px 13px;
}

option {
    font-weight: bold;
}

.row label,
.row p:first-child {
    width: 270px;
    text-align: right;
    margin-right: 30px;
}

.agreement {
    margin: 0 auto;
    width: fit-content;
    font-weight: bold;
    text-align: center;
}

.agreement a {
    color: var(--primary);
    border-bottom: solid 2px var(--primary);
}

input[type=checkbox] {
    display: none;
}
.checkbox01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.checkbox01::before {
    background: #fff;
    border: 2px solid #231815;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.checkbox01::after {
    border-right: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
}
input[type=checkbox]:checked + .checkbox01::after {
    opacity: 1;
}

.employment,
.pref_name {
    width: 140px;
    padding-right: 10px;
}

.month,
.year {
    width: 100px;
    margin-right: 10px;
    padding-right: 10px;
}

.month {
    margin-left: 10px;
}

.github-account input {
    width: 330px;
}

.qiita-account p {
    background-color: var(--text1st);
    padding-left: 10px;
    border-radius: 40px 0 0 40px;
}

.qiita-account input {
    border-radius: 0 40px 40px 0;
}

.register-button {
    margin: 10px auto;
    width: fit-content;

}

.register-button button {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #7A4E9A;
    padding: 10px 50px;
    border-radius: 40px;
}

ul.graph li {
    display: inline-block;
    width: 50px;
    text-align: center;
}
 
.graph {
    height: 300px;
}

.bar {
    width: 27px;
    margin: 0 auto;
    background-color: var(--text3rd);
}

.bar1,.bar2,.bar8,.bar7 {
    height: 40px;
}
.bar3 {
    height: 45px;
}
.bar4 {
    height: 70px;
}
.bar5 {
    height: 30px;
}
.bar6 {
    height: 120px;
}

.bar10 {
    height: 200px;
}
.bar9, .bar12 {
    height: 125px;
}
.bar11, .bar13 {
    height: 130px;
}
.bar14 {
    height: 100px;
}
.bar15 {
    height: 80px;
}
.bar16 {
    height: 150px;
}

/* 棒グラフ3 CSS Only */
  .bar-graph-horizontal {
    max-width: 100%;
  }
  
  .bar-graph-horizontal > div {
    float: left;
    width: 100%;
  }
  
  .bar-graph-horizontal .year {
    margin-left: 10px;
    width: 50px;
    color: var(--text2nd);
    font-weight: bold;
  }
  
  .bar-graph-horizontal .bar {
    border-radius: 3px;
    height: 30px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 0;
  }
  
  .bar-graph-one .bar::after {
    color: #fff;
    content: attr(data-percentage);
    font-weight: 700;
    position: absolute;
    right: 16px;
  }
  .bar-graph-one .bar-one .bar {
    background-color:#8c5aff;
    width: 86%;
  }
  
  .bar-graph-one .bar-two .bar {
    background-color: #9f77ff;
    width: 77%;
  }
  
  .bar-graph-one .bar-three .bar {
    background-color: #ae8ffe;
    width: 75%;
  }
  
  .bar-graph-one .bar-four .bar {
    background-color: #b69afe;
    width: 62%;
  }